:root{
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido:45px;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: url(img/fondo.jpg);
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background-color: #5c1414;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
@media (max-width:480px){
    form{
        width: 100%;
    }
}


h1{
    text-align: center;
    color:#fff;
    font-size: 40px;
    background: rgba(0,0,0,0.4);
    margin-top: 100%;
}
